In [ ]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

In [ ]:
!pip install kaggle

In [ ]:
import kaggle

In [ ]:
import zipfile
zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [6]:
import pandas as pd

In [ ]:
df=pd.read_csv("orders.csv")
df.head()

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df['Discount']=df['List Price']*df['Discount Percent']/100

In [ ]:
df['Sale']=df['List Price']-df['Discount']

In [ ]:
df['Profit']=(df['Sale']-df['cost price'])*df['Quantity']

In [ ]:
df.head(9)

In [ ]:
df1=df.iloc[:,:11]
print(df1)

In [ ]:
df1.isnull().sum()

In [ ]:
df1.columns

In [ ]:
df2=df.iloc[:,[0,11,12,13,14,15,16,17,18]]

In [ ]:
df2

In [ ]:
df2['Product Id'].is_unique

In [36]:
import pymysql

connection = pymysql.connect(
  host = "gateway01.us-east-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3Fz5G68Pg3hrxVy.root",
  password = "NRYFQxmcwGY25A1R",
  database = "PROJECT1",
  ssl_verify_cert = True,
  ssl_verify_identity = True,
  ssl_ca =r"C:\Users\User\Downloads\MDTM40\isrgrootx1.pem"
)
mycursor=connection.cursor()

In [30]:
mycursor.execute("use PROJECT1")

0

In [ ]:
mycursor.execute("CREATE TABLE PROJECT1.Orders (Order_Id INT PRIMARY KEY,  Order_Date DATE, Ship_Mode VARCHAR(50), Segment VARCHAR(50), Country VARCHAR(100), City VARCHAR(100), State VARCHAR(100), Postal_Code VARCHAR(20), Region VARCHAR(50), Category VARCHAR(50), Sub_Category VARCHAR(50))")

In [ ]:
mycursor.execute("CREATE TABLE PROJECT1.retailorder (Order_Id INT ,Product_Id VARCHAR(50), Cost_Price DECIMAL(10, 2), List_Price DECIMAL(10, 2), Quantity INT, Discount_Percent DECIMAL(5, 2), Discount DECIMAL(10, 2), Sale DECIMAL(10, 2), Profit DECIMAL(10, 2),FOREIGN KEY (Order_Id) References PROJECT1.orders(Order_Id))")

In [ ]:
connection.commit()

In [ ]:
df1.columns=df1.columns.str.strip()
df1.columns=df1.columns.str.replace(" ","_")
df1.columns

In [ ]:
df2.columns=df2.columns.str.strip().str.replace(" ","_")
df2

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(
  "mysql+pymysql://3Fz5G68Pg3hrxVy.root:NRYFQxmcwGY25A1R@gateway01.us-east-1.prod.aws.tidbcloud.com:4000/PROJECT1?ssl_ca=C:/Users/User/Downloads/MDTM40/isrgrootx1.pem"
)

In [ ]:
df1.to_sql('orders',engine,schema='PROJECT1', if_exists='append',index=False)

In [ ]:
df2.to_sql('retailorder', engine, schema='PROJECT1', if_exists='append',index=False)

In [4]:
mycursor.execute("select * from retailorder")

9994

In [ ]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

In [ ]:
df['Ship Mode'].fillna(0, inplace=True)

In [ ]:
df.info()

In [ ]:
!pip install tabulate

In [13]:
#.1. Find top 10 highest revenue generating products
mycursor.execute("select Product_Id, Highest_Revenue, Row_number() over (order by Highest_Revenue desc) as Row_num from (SELECT Product_Id, sum(sale) Highest_Revenue from PROJECT1.retailorder group by Product_Id ORDER by 2 desc FETCH FIRST 10 ROWS ONLY) as temp;")
#out=mycursor.fetchall()
dfa=pd.DataFrame(mycursor)
dfa

                 0         1   2
0  TEC-CO-10004722  59514.00   1
1  OFF-BI-10003527  26525.30   2
2  TEC-MA-10002412  21734.40   3
3  FUR-CH-10002024  21096.20   4
4  OFF-BI-10001359  19090.20   5
5  OFF-BI-10000545  18249.00   6
6  TEC-CO-10001449  18151.20   7
7  TEC-MA-10001127  17906.40   8
8  OFF-BI-10004995  17354.80   9
9  OFF-SU-10000151  16325.80  10

In [14]:
#.2. Find the top 5 cities with the highest profit margins
mycursor.execute("Select city, sum(profit) Highest_Profit from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by city order by 2 desc limit 5;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+------------------+
| city          |   Highest_Profit |
|---------------+------------------|
| New York City |         103853   |
| Los Angeles   |          73294.8 |
| Philadelphia  |          52619.3 |
| Seattle       |          50765.7 |
| San Francisco |          48472.6 |
+---------------+------------------+

In [2]:
#.3. Calculate the total discount given for each category
mycursor.execute("SELECT category, sum(discount) as Total_discount from project1.orders as o inner join project1.retailorder as r on r.order_id=o.order_id group by category")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+------------------+
| category        |   Total_discount |
|-----------------+------------------|
| Furniture       |          26049.3 |
| Technology      |          29346.5 |
| Office Supplies |          24935.5 |
+-----------------+------------------+

In [15]:
#.4. Find the average sale price per product category
mycursor.execute("SELECT Category, avg(sale) Average_sale_Price from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by category;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+----------------------+
| Category        |   Average_sale_Price |
|-----------------+----------------------|
| Office Supplies |              115.109 |
| Technology      |              436.856 |
| Furniture       |              337.266 |
+-----------------+----------------------+

In [16]:
#.5. Find the region with the highest average sale price
mycursor.execute("SELECT Region,avg(sale) Highest_AvgSale_Price from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by Region order by 2 desc limit 1;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------+-------------------------+
| Region   |   Highest_AvgSale_Price |
|----------+-------------------------|
| South    |                  233.34 |
+----------+-------------------------+

In [17]:
#.6. Find the total profit per category
mycursor.execute("Select Category,sum(profit) Total_Profit from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by category order by 2;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+----------------+
| Category        |   Total_Profit |
|-----------------+----------------|
| Office Supplies |         317425 |
| Furniture       |         342782 |
| Technology      |         379721 |
+-----------------+----------------+

In [18]:
#.7. Identify the top 3 segments with the highest quantity of orders
mycursor.execute("select Segment, sum(Quantity) Highest_Quantity from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by Segment order by 2 desc LIMIT 3;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-------------+--------------------+
| Segment     |   Highest_Quantity |
|-------------+--------------------|
| Consumer    |              19521 |
| Corporate   |              11608 |
| Home Office |               6744 |
+-------------+--------------------+

In [19]:
#.8. Determine the average discount percentage given per region
mycursor.execute("SELECT Region, avg(Discount_Percent) Avg_Discount_Percent from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by Region;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------+------------------------+
| Region   |   Avg_Discount_Percent |
|----------+------------------------|
| Central  |                3.47223 |
| East     |                3.49368 |
| South    |                3.48272 |
| West     |                3.48486 |
+----------+------------------------+

In [20]:
#.9. Find the product category with the highest total profit
mycursor.execute("SELECT * from (SELECT Category, sum(Profit) Highest_Total_Profit from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by Category ORDER BY 2 desc) as temp FETCH FIRST 1 ROW ONLY;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+------------+------------------------+
| Category   |   Highest_Total_Profit |
|------------+------------------------|
| Technology |                 379721 |
+------------+------------------------+

In [21]:
#.10. Calculate the total revenue generated per year
mycursor.execute("select year(Order_Date) Year, sum(Sale) Total_revenue from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by year(Order_Date);")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------+-----------------+
|   Year |   Total_revenue |
|--------+-----------------|
|   2022 |     1.09559e+06 |
|   2023 |     1.12027e+06 |
+--------+-----------------+

In [22]:
#.11.Identify the most frequently used shipment mode (excluding 'Unknown Mode') along with the number of times it was used.
mycursor.execute("select Ship_Mode, count(Ship_Mode) No_of_Times from PROJECT1.orders where Ship_Mode in ('Standard Class','Second Class', 'First Class', 'Same Day') group by Ship_Mode order by 2 desc;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------------+---------------+
| Ship_Mode      |   No_of_Times |
|----------------+---------------|
| Standard Class |          5962 |
| Second Class   |          1945 |
| First Class    |          1538 |
| Same Day       |           543 |
+----------------+---------------+

In [23]:
#.12. Find the total revenue generated by each product category in the 'West' region.
mycursor.execute("select category, sum(sale) Total_revenu_West from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id where region='West' group by category order by 2;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+---------------------+
| category        |   Total_revenu_West |
|-----------------+---------------------|
| Office Supplies |              213154 |
| Technology      |              243133 |
| Furniture       |              243571 |
+-----------------+---------------------+

In [24]:
#.13. Identify the top 3 products with the highest discount percentage.
mycursor.execute("select Product_Id, max(Discount_Percent) Highest_Discount from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by Product_Id order by 2 desc limit 3;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+--------------------+
| Product_Id      |   Highest_Discount |
|-----------------+--------------------|
| OFF-PA-10001937 |                  5 |
| OFF-PA-10003172 |                  5 |
| FUR-CH-10002335 |                  5 |
+-----------------+--------------------+

In [31]:
#.14. Find the number of orders placed in each month of the year 2023. sorted chronologically from January to December.
mycursor.execute("select monthname(Order_Date) Month, count(*) Total_Order_Placed from PROJECT1.orders where year(Order_Date)='2023' group by month(Order_Date),monthname(Order_Date) order by month(Order_Date);")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------+----------------------+
| Month     |   Total_Order_Placed |
|-----------+----------------------|
| January   |                  419 |
| February  |                  401 |
| March     |                  434 |
| April     |                  400 |
| May       |                  401 |
| June      |                  375 |
| July      |                  477 |
| August    |                  420 |
| September |                  353 |
| October   |                  418 |
| November  |                  413 |
| December  |                  446 |
+-----------+----------------------+

In [33]:
#.15. Identify the region with the lowest total revenue.
mycursor.execute("SELECT Region, sum(sale) Lowest_Revenue from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by region order by 2  limit 1 ;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------+------------------+
| Region   |   Lowest_Revenue |
|----------+------------------|
| South    |           378012 |
+----------+------------------+

In [38]:
#.16. Find the percentage contribution of each shipping mode to the total number of orders.
mycursor.execute("SELECT Ship_Mode, concat(round(count(*)*100.0/sum(count(*)) over(),2),'%') Percentage_Contribution from orders group by Ship_Mode order by 2 desc;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------------+---------------------------+
| Ship_Mode      | Percentage_Contribution   |
|----------------+---------------------------|
| Standard Class | 59.66%                    |
| Same Day       | 5.43%                     |
| Second Class   | 19.46%                    |
| First Class    | 15.39%                    |
| Not Available  | 0.04%                     |
| 0              | 0.01%                     |
| unknown        | 0.01%                     |
+----------------+---------------------------+

In [39]:
#.17. Identify the product that contributed the highest total profit in the 'Technology' category.
mycursor.execute("SELECT Category, Product_Id, sum(Profit) Total_Profit from  PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id where category='Technology' group by category, product_id order by 3 desc;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+------------+-----------------+----------------+
| Category   | Product_Id      |   Total_Profit |
|------------+-----------------+----------------|
| Technology | TEC-CO-10004722 |        24816   |
| Technology | TEC-MA-10002412 |        21746.4 |
| Technology | TEC-CO-10001449 |        15948   |
| Technology | TEC-PH-10001459 |        11481.9 |
| Technology | TEC-MA-10000822 |        10102.3 |
| Technology | TEC-MA-10001047 |         9989   |
| Technology | TEC-PH-10002885 |         7228.5 |
| Technology | TEC-AC-10002049 |         6687.6 |
| Technology | TEC-CO-10003763 |         6313.8 |
| Technology | TEC-AC-10003033 |         6115   |
| Technology | TEC-AC-10003832 |         5627.8 |
| Technology | TEC-PH-10004165 |         5002.9 |
| Technology | TEC-MA-10001127 |         4719.2 |
| Technology | TEC-MA-10000418 |         4610   |
| Technology | TEC-PH-10002834 |         4431.5 |
| Technology | TEC-MA-10000010 |         3910.4 |
| Technology | TEC-AC-10004145 |         3720   |
| Technology | TEC-PH-10001530 |         3671.4 |
| Technology | TEC-MA-10000488 |         3637.2 |
| Technology | TEC-MA-10003979 |         3617   |
| Technology | TEC-CO-10001046 |         3482.4 |
| Technology | TEC-CO-10004115 |         3460   |
| Technology | TEC-PH-10000895 |         3419.1 |
| Technology | TEC-MA-10000112 |         3340   |
| Technology | TEC-CO-10002095 |         3144   |
| Technology | TEC-CO-10001766 |         3129.7 |
| Technology | TEC-PH-10000560 |         2948.8 |
| Technology | TEC-MA-10000984 |         2831.6 |
| Technology | TEC-AC-10003870 |         2787.2 |
| Technology | TEC-CO-10002313 |         2750   |
| Technology | TEC-PH-10000984 |         2714.4 |
| Technology | TEC-MA-10000864 |         2660.4 |
| Technology | TEC-PH-10002496 |         2549.5 |
| Technology | TEC-AC-10001908 |         2487.2 |
| Technology | TEC-PH-10001817 |         2426.7 |
| Technology | TEC-AC-10002637 |         2397.9 |
| Technology | TEC-PH-10001795 |         2381.5 |
| Technology | TEC-PH-10004586 |         2367.4 |
| Technology | TEC-PH-10000486 |         2308.8 |
| Technology | TEC-MA-10004125 |         2240   |
| Technology | TEC-PH-10002200 |         2211.4 |
| Technology | TEC-CO-10003236 |         2202.4 |
| Technology | TEC-PH-10001363 |         2196   |
| Technology | TEC-MA-10003353 |         1920.8 |
| Technology | TEC-PH-10002624 |         1896.5 |
| Technology | TEC-CO-10001943 |         1863.6 |
| Technology | TEC-PH-10001494 |         1853.2 |
| Technology | TEC-MA-10004002 |         1816.4 |
| Technology | TEC-AC-10002842 |         1796.8 |
| Technology | TEC-PH-10002922 |         1769.4 |
| Technology | TEC-PH-10000730 |         1740   |
| Technology | TEC-AC-10001838 |         1707.2 |
| Technology | TEC-PH-10003012 |         1705.5 |
| Technology | TEC-PH-10003072 |         1696.8 |
| Technology | TEC-PH-10001557 |         1672.7 |
| Technology | TEC-PH-10004977 |         1593.2 |
| Technology | TEC-PH-10001578 |         1545.1 |
| Technology | TEC-PH-10002103 |         1543   |
| Technology | TEC-PH-10003645 |         1528.8 |
| Technology | TEC-PH-10004447 |         1497.4 |
| Technology | TEC-PH-10004094 |         1474.1 |
| Technology | TEC-PH-10002549 |         1473.1 |
| Technology | TEC-MA-10000045 |         1471.2 |
| Technology | TEC-PH-10000441 |         1470.2 |
| Technology | TEC-AC-10002076 |         1467.7 |
| Technology | TEC-PH-10003505 |         1385.4 |
| Technology | TEC-AC-10003911 |         1372.4 |
| Technology | TEC-PH-10002824 |         1230.8 |
| Technology | TEC-PH-10002310 |         1230.7 |
| Technology | TEC-PH-10002584 |         1228.5 |
| Technology | TEC-PH-10004539 |         1209.6 |
| Technology | TEC-AC-10003198 |         1205.6 |
| Technology | TEC-AC-10004171 |         1171.8 |
| Technology | TEC-PH-10004345 |         1165.6 |
| Technology | TEC-PH-10001425 |         1157.7 |
| Technology | TEC-AC-10001990 |         1147.9 |
| Technology | TEC-PH-10001079 |         1128.4 |
| Technology | TEC-AC-10002402 |         1094.3 |
| Technology | TEC-AC-10004571 |         1073.4 |
| Technology | TEC-AC-10002001 |         1070   |
| Technology | TEC-PH-10003484 |         1054   |
| Technology | TEC-AC-10003174 |         1052.3 |
| Technology | TEC-MA-10004679 |         1039.6 |
| Technology | TEC-AC-10002253 |         1021.7 |
| Technology | TEC-MA-10003673 |         1010   |
| Technology | TEC-PH-10004667 |          980.7 |
| Technology | TEC-AC-10004659 |          973.2 |
| Technology | TEC-MA-10001148 |          968.4 |
| Technology | TEC-PH-10000369 |          960.7 |
| Technology | TEC-AC-10001465 |          950   |
| Technology | TEC-MA-10003183 |          922.6 |
| Technology | TEC-PH-10001128 |          915.5 |
| Technology | TEC-CO-10004202 |          914   |
| Technology | TEC-MA-10004212 |          899.2 |
| Technology | TEC-PH-10003963 |          893.8 |
| Technology | TEC-CO-10000971 |          881   |
| Technology | TEC-AC-10002800 |          878.5 |
| Technology | TEC-PH-10002660 |          862.6 |
| Technology | TEC-PH-10001835 |          862   |
| Technology | TEC-PH-10000673 |          861.2 |
| Technology | TEC-AC-10001552 |          853.1 |
| Technology | TEC-PH-10002447 |          848.4 |
| Technology | TEC-PH-10000526 |          836.6 |
| Technology | TEC-PH-10002483 |          834.6 |
| Technology | TEC-PH-10004614 |          828.8 |
| Technology | TEC-AC-10002567 |          825.6 |
| Technology | TEC-PH-10000038 |          820.8 |
| Technology | TEC-PH-10001305 |          815.6 |
| Technology | TEC-AC-10001606 |          813.8 |
| Technology | TEC-PH-10002645 |          800   |
| Technology | TEC-AC-10001432 |          769.8 |
| Technology | TEC-PH-10002468 |          768.4 |
| Technology | TEC-AC-10004568 |          766.1 |
| Technology | TEC-AC-10000844 |          765.3 |
| Technology | TEC-PH-10002262 |          752.1 |
| Technology | TEC-PH-10001336 |          749.6 |
| Technology | TEC-AC-10001142 |          746.4 |
| Technology | TEC-AC-10001539 |          746.2 |
| Technology | TEC-AC-10004975 |          746   |
| Technology | TEC-AC-10004469 |          725   |
| Technology | TEC-AC-10000420 |          713.9 |
| Technology | TEC-PH-10002890 |          702.9 |
| Technology | TEC-PH-10001061 |          700.8 |
| Technology | TEC-PH-10004908 |          700.3 |
| Technology | TEC-AC-10002926 |          698.3 |
| Technology | TEC-PH-10002033 |          693.6 |
| Technology | TEC-MA-10001972 |          692   |
| Technology | TEC-PH-10004042 |          686.2 |
| Technology | TEC-AC-10000474 |          673   |
| Technology | TEC-PH-10001254 |          661.6 |
| Technology | TEC-PH-10002680 |          657.4 |
| Technology | TEC-AC-10001772 |          652.4 |
| Technology | TEC-PH-10003691 |          645   |
| Technology | TEC-PH-10002555 |          643.7 |
| Technology | TEC-PH-10001580 |          638.1 |
| Technology | TEC-MA-10004552 |          632   |
| Technology | TEC-PH-10001944 |          627.2 |
| Technology | TEC-AC-10004666 |          619.8 |
| Technology | TEC-PH-10001760 |          618.5 |
| Technology | TEC-PH-10002789 |          612.8 |
| Technology | TEC-AC-10000580 |          607.6 |
| Technology | TEC-MA-10002428 |          607   |
| Technology | TEC-PH-10002563 |          591.8 |
| Technology | TEC-AC-10001314 |          589.4 |
| Technology | TEC-MA-10002210 |          588.9 |
| Technology | TEC-AC-10000736 |          580.4 |
| Technology | TEC-PH-10004389 |          573.3 |
| Technology | TEC-AC-10000892 |          571.9 |
| Technology | TEC-AC-10004353 |          546   |
| Technology | TEC-AC-10002473 |          525.6 |
| Technology | TEC-PH-10000576 |          506.5 |
| Technology | TEC-PH-10001700 |          504.4 |
| Technology | TEC-PH-10002538 |          499   |
| Technology | TEC-PH-10003811 |          486.8 |
| Technology | TEC-MA-10002927 |          480.4 |
| Technology | TEC-AC-10001383 |          477.3 |
| Technology | TEC-PH-10003601 |          476.5 |
| Technology | TEC-PH-10001299 |          475.2 |
| Technology | TEC-PH-10003273 |          462.5 |
| Technology | TEC-AC-10000109 |          457   |
| Technology | TEC-PH-10002415 |          453.9 |
| Technology | TEC-PH-10002170 |          453.6 |
| Technology | TEC-PH-10000562 |          450.8 |
| Technology | TEC-AC-10002550 |          446.5 |
| Technology | TEC-PH-10001300 |          441.6 |
| Technology | TEC-AC-10000158 |          435.1 |
| Technology | TEC-AC-10000990 |          433.5 |
| Technology | TEC-AC-10003590 |          426.9 |
| Technology | TEC-PH-10004434 |          418.2 |
| Technology | TEC-AC-10003095 |          408.9 |
| Technology | TEC-AC-10003628 |          408   |
| Technology | TEC-PH-10002726 |          407.7 |
| Technology | TEC-PH-10004093 |          402.6 |
| Technology | TEC-AC-10002006 |          400.1 |
| Technology | TEC-PH-10003437 |          397   |
| Technology | TEC-MA-10001695 |          396   |
| Technology | TEC-PH-10003885 |          386   |
| Technology | TEC-AC-10001767 |          385.2 |
| Technology | TEC-AC-10003289 |          384.6 |
| Technology | TEC-PH-10000011 |          379.6 |
| Technology | TEC-AC-10003610 |          378.8 |
| Technology | TEC-PH-10004531 |          378.3 |
| Technology | TEC-AC-10000358 |          371.7 |
| Technology | TEC-PH-10001750 |          369   |
| Technology | TEC-MA-10002178 |          368   |
| Technology | TEC-PH-10002398 |          364.5 |
| Technology | TEC-PH-10003580 |          361.1 |
| Technology | TEC-CO-10001571 |          360   |
| Technology | TEC-AC-10001284 |          359.4 |
| Technology | TEC-AC-10004901 |          358   |
| Technology | TEC-PH-10001051 |          356   |
| Technology | TEC-PH-10004536 |          351   |
| Technology | TEC-AC-10004510 |          349.8 |
| Technology | TEC-AC-10002942 |          348.3 |
| Technology | TEC-AC-10002323 |          344.6 |
| Technology | TEC-PH-10001619 |          343.5 |
| Technology | TEC-PH-10004120 |          341.5 |
| Technology | TEC-PH-10000455 |          339.2 |
| Technology | TEC-PH-10000215 |          337.6 |
| Technology | TEC-MA-10003230 |          336   |
| Technology | TEC-PH-10003174 |          329.9 |
| Technology | TEC-AC-10000991 |          329.1 |
| Technology | TEC-PH-10001918 |          325.7 |
| Technology | TEC-AC-10004761 |          325   |
| Technology | TEC-PH-10001615 |          322.6 |
| Technology | TEC-MA-10002859 |          317.2 |
| Technology | TEC-MA-10001681 |          312   |
| Technology | TEC-AC-10004114 |          311.2 |
| Technology | TEC-MA-10004255 |          297.6 |
| Technology | TEC-MA-10004626 |          296.8 |
| Technology | TEC-AC-10004518 |          292.8 |
| Technology | TEC-PH-10002275 |          291   |
| Technology | TEC-MA-10002073 |          289.2 |
| Technology | TEC-AC-10001553 |          280.9 |
| Technology | TEC-PH-10001552 |          280.3 |
| Technology | TEC-AC-10003116 |          279.6 |
| Technology | TEC-PH-10004080 |          277   |
| Technology | TEC-PH-10003555 |          276.9 |
| Technology | TEC-AC-10002335 |          273.2 |
| Technology | TEC-PH-10002115 |          273.1 |
| Technology | TEC-AC-10000710 |          271.9 |
| Technology | TEC-PH-10000141 |          271.2 |
| Technology | TEC-PH-10000149 |          268.8 |
| Technology | TEC-PH-10000702 |          266.2 |
| Technology | TEC-PH-10004922 |          259.2 |
| Technology | TEC-AC-10004855 |          258.4 |
| Technology | TEC-AC-10001874 |          253.8 |
| Technology | TEC-PH-10003092 |          252.4 |
| Technology | TEC-AC-10003038 |          251   |
| Technology | TEC-PH-10003589 |          249.2 |
| Technology | TEC-PH-10001809 |          249.2 |
| Technology | TEC-AC-10001714 |          248.4 |
| Technology | TEC-PH-10004006 |          244.2 |
| Technology | TEC-AC-10004420 |          241.6 |
| Technology | TEC-AC-10002217 |          239   |
| Technology | TEC-PH-10002085 |          236.7 |
| Technology | TEC-PH-10000127 |          230.2 |
| Technology | TEC-PH-10003931 |          230.1 |
| Technology | TEC-PH-10001924 |          227.7 |
| Technology | TEC-PH-10002564 |          226.9 |
| Technology | TEC-AC-10002600 |          225   |
| Technology | TEC-PH-10004833 |          221.1 |
| Technology | TEC-PH-10004188 |          217.8 |
| Technology | TEC-PH-10001468 |          217.5 |
| Technology | TEC-PH-10003095 |          213.1 |
| Technology | TEC-AC-10003027 |          212.7 |
| Technology | TEC-AC-10003399 |          210.2 |
| Technology | TEC-AC-10001109 |          208.4 |
| Technology | TEC-PH-10001433 |          208   |
| Technology | TEC-AC-10003280 |          206.5 |
| Technology | TEC-PH-10001819 |          205.2 |
| Technology | TEC-MA-10003674 |          204   |
| Technology | TEC-PH-10004912 |          203.8 |
| Technology | TEC-AC-10000927 |          202.4 |
| Technology | TEC-MA-10001016 |          200.4 |
| Technology | TEC-AC-10004001 |          195   |
| Technology | TEC-PH-10004241 |          192   |
| Technology | TEC-PH-10001198 |          191.4 |
| Technology | TEC-MA-10000904 |          189.6 |
| Technology | TEC-PH-10004896 |          187.1 |
| Technology | TEC-MA-10003246 |          186   |
| Technology | TEC-AC-10001114 |          183.8 |
| Technology | TEC-MA-10002930 |          183.6 |
| Technology | TEC-PH-10004774 |          182.2 |
| Technology | TEC-AC-10002399 |          182   |
| Technology | TEC-PH-10000675 |          180   |
| Technology | TEC-AC-10002167 |          178.5 |
| Technology | TEC-AC-10000865 |          176.8 |
| Technology | TEC-PH-10002923 |          175.1 |
| Technology | TEC-MA-10004241 |          174.6 |
| Technology | TEC-AC-10001013 |          173.4 |
| Technology | TEC-PH-10003357 |          168.9 |
| Technology | TEC-PH-10004100 |          166.4 |
| Technology | TEC-AC-10003063 |          164.6 |
| Technology | TEC-PH-10001527 |          158.6 |
| Technology | TEC-MA-10003356 |          156.7 |
| Technology | TEC-PH-10003171 |          153.1 |
| Technology | TEC-AC-10004859 |          151.7 |
| Technology | TEC-AC-10003023 |          148.9 |
| Technology | TEC-AC-10000023 |          146.3 |
| Technology | TEC-AC-10002305 |          143.3 |
| Technology | TEC-MA-10003626 |          143.2 |
| Technology | TEC-PH-10004522 |          141.8 |
| Technology | TEC-AC-10001635 |          141   |
| Technology | TEC-PH-10000923 |          135.4 |
| Technology | TEC-PH-10002293 |          135   |
| Technology | TEC-AC-10000682 |          134.6 |
| Technology | TEC-PH-10002075 |          134.4 |
| Technology | TEC-AC-10003447 |          134.2 |
| Technology | TEC-AC-10000057 |          132.2 |
| Technology | TEC-AC-10001101 |          131.6 |
| Technology | TEC-AC-10002345 |          130.6 |
| Technology | TEC-MA-10000597 |          130.4 |
| Technology | TEC-PH-10000586 |          128.2 |
| Technology | TEC-AC-10001267 |          127.8 |
| Technology | TEC-PH-10004071 |          125.4 |
| Technology | TEC-PH-10000439 |          123.2 |
| Technology | TEC-PH-10004897 |          120.3 |
| Technology | TEC-MA-10001031 |          119.4 |
| Technology | TEC-MA-10002937 |          118.8 |
| Technology | TEC-AC-10003441 |          118.4 |
| Technology | TEC-PH-10002807 |          114.8 |
| Technology | TEC-MA-10003176 |          114.2 |
| Technology | TEC-PH-10001448 |          110.9 |
| Technology | TEC-AC-10002718 |          110.3 |
| Technology | TEC-AC-10004864 |          108.7 |
| Technology | TEC-PH-10000193 |          105.9 |
| Technology | TEC-MA-10002109 |          103.4 |
| Technology | TEC-AC-10001956 |          102.8 |
| Technology | TEC-PH-10001949 |          101.1 |
| Technology | TEC-AC-10004209 |           96.3 |
| Technology | TEC-PH-10003988 |           95.9 |
| Technology | TEC-AC-10004396 |           95.2 |
| Technology | TEC-AC-10001266 |           94.1 |
| Technology | TEC-AC-10000397 |           93.5 |
| Technology | TEC-AC-10004877 |           92.6 |
| Technology | TEC-PH-10002817 |           91.2 |
| Technology | TEC-AC-10004227 |           88.1 |
| Technology | TEC-PH-10001644 |           86.1 |
| Technology | TEC-PH-10002350 |           84.6 |
| Technology | TEC-PH-10000169 |           78.8 |
| Technology | TEC-AC-10002331 |           77.4 |
| Technology | TEC-PH-10004959 |           74.4 |
| Technology | TEC-AC-10004992 |           72   |
| Technology | TEC-PH-10003356 |           71.6 |
| Technology | TEC-MA-10003173 |           70   |
| Technology | TEC-AC-10004633 |           68.2 |
| Technology | TEC-AC-10003657 |           68.2 |
| Technology | TEC-MA-10001856 |           68   |
| Technology | TEC-MA-10002981 |           67.5 |
| Technology | TEC-AC-10000171 |           66.8 |
| Technology | TEC-AC-10004814 |           64.5 |
| Technology | TEC-MA-10003337 |           63   |
| Technology | TEC-PH-10001536 |           61.2 |
| Technology | TEC-PH-10003215 |           59.6 |
| Technology | TEC-PH-10004830 |           56   |
| Technology | TEC-MA-10000423 |           53.7 |
| Technology | TEC-PH-10003875 |           53   |
| Technology | TEC-PH-10002352 |           52.5 |
| Technology | TEC-AC-10002857 |           51.6 |
| Technology | TEC-PH-10001870 |           49.9 |
| Technology | TEC-MA-10000029 |           49   |
| Technology | TEC-AC-10002134 |           47.7 |
| Technology | TEC-AC-10004803 |           47.4 |
| Technology | TEC-PH-10002583 |           47.2 |
| Technology | TEC-PH-10003535 |           47.2 |
| Technology | TEC-MA-10003589 |           46.8 |
| Technology | TEC-PH-10000213 |           46.5 |
| Technology | TEC-AC-10002647 |           46.2 |
| Technology | TEC-AC-10000290 |           45   |
| Technology | TEC-AC-10003614 |           43.6 |
| Technology | TEC-AC-10004708 |           42   |
| Technology | TEC-PH-10002070 |           41.9 |
| Technology | TEC-AC-10004595 |           41.3 |
| Technology | TEC-AC-10001590 |           41.2 |
| Technology | TEC-PH-10000004 |           38.6 |
| Technology | TEC-PH-10000376 |           38.3 |
| Technology | TEC-PH-10003187 |           38   |
| Technology | TEC-PH-10004348 |           37.6 |
| Technology | TEC-PH-10002844 |           36.1 |
| Technology | TEC-PH-10002597 |           35   |
| Technology | TEC-PH-10004700 |           34.8 |
| Technology | TEC-AC-10001090 |           34.6 |
| Technology | TEC-AC-10001542 |           32.7 |
| Technology | TEC-AC-10003499 |           32.4 |
| Technology | TEC-PH-10000307 |           31.5 |
| Technology | TEC-AC-10002558 |           29.6 |
| Technology | TEC-AC-10002380 |           25.5 |
| Technology | TEC-AC-10000926 |           21   |
| Technology | TEC-MA-10003066 |           19.2 |
| Technology | TEC-AC-10000303 |           18.6 |
| Technology | TEC-MA-10003493 |           16.4 |
| Technology | TEC-MA-10004458 |           16   |
| Technology | TEC-AC-10003237 |           14.5 |
| Technology | TEC-PH-10003800 |           13.7 |
| Technology | TEC-AC-10001998 |           12.3 |
| Technology | TEC-MA-10002694 |           12   |
| Technology | TEC-MA-10004521 |            4.8 |
| Technology | TEC-MA-10001570 |            2.5 |
| Technology | TEC-AC-10003433 |            0   |
| Technology | TEC-AC-10003133 |           -0.4 |
| Technology | TEC-PH-10004875 |           -0.6 |
| Technology | TEC-AC-10002370 |           -0.8 |
| Technology | TEC-PH-10003655 |           -2.4 |
| Technology | TEC-AC-10000487 |           -2.6 |
| Technology | TEC-AC-10003709 |           -3.7 |
| Technology | TEC-AC-10000387 |           -5   |
| Technology | TEC-AC-10001445 |           -5   |
| Technology | TEC-AC-10000199 |           -5.3 |
| Technology | TEC-PH-10004924 |           -6   |
| Technology | TEC-AC-10004127 |           -6   |
| Technology | TEC-MA-10003329 |           -6.3 |
| Technology | TEC-PH-10000347 |           -6.3 |
| Technology | TEC-AC-10000521 |           -6.7 |
| Technology | TEC-PH-10000912 |           -7.2 |
| Technology | TEC-MA-10004086 |           -7.5 |
| Technology | TEC-PH-10002365 |           -7.5 |

In [40]:
#.18. Calculate the average profit margin for each product category
mycursor.execute("select Category, avg(Profit) Average_Profit from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by category;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+------------------+
| Category        |   Average_Profit |
|-----------------+------------------|
| Office Supplies |          52.6759 |
| Furniture       |         161.614  |
| Technology      |         205.588  |
+-----------------+------------------+

In [41]:
#.19. List all orders where the sale amount exceeded $500 and the profit was negative.
mycursor.execute("select r.Order_Id, Sale, Profit from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id where Sale>500 and Profit like '-%' order by sale;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+------------+--------+----------+
|   Order_Id |   Sale |   Profit |
|------------+--------+----------|
|       8855 |  589   |     -3   |
|       9190 |  627   |    -18   |
|       1662 |  646   |    -20   |
|       4074 |  779   |     -6   |
|       4247 |  997.5 |    -12.5 |
|       7489 |  997.5 |    -10   |
|       3481 | 1349   |     -6   |
|       7453 | 1349   |     -6   |
|       6117 | 2166   |    -16   |
|       1439 | 2327.5 |    -12.5 |
|       2568 | 2536.5 |    -31.5 |
+------------+--------+----------+

In [43]:
#.20. Classify the total profit for each product category
mycursor.execute("select Category, CASE WHEN sum(Profit)>1000 THEN 'High Profit' WHEN sum(Profit) between 500 and 1000 THEN 'Moderate Profit' ELSE 'Low Profit' END as Profit_Category  from PROJECT1.Retailorder r inner join PROJECT1.Orders o on r.Order_Id=o.Order_Id group by category;")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+-------------------+
| Category        | Profit_Category   |
|-----------------+-------------------|
| Office Supplies | High Profit       |
| Furniture       | High Profit       |
| Technology      | High Profit       |
+-----------------+-------------------+